@import "bootstrap";
@import "simple_calendar";

/* universal */

h1 {
  margin-bottom: 30px;
  text-align: center;
}

h6 {
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: center;
}

.box {
  margin-bottom: 30px;
}

.box {
  >h6 {
    margin: initial;
    text-align: initial;
    margin-bottom: 0.5rem
  }
}

html {
  width: 100%;
}

body {
  margin: 0;
  position: relative;
  padding-top: 70px;
  padding-bottom: 112px;
  background-color : white;
}

header {
  width: 100%;
}

footer {
  font-size: small;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid gray;
  color: gray;
  a {
    color: gray;
    &:hover {
      color: gray;
    }
  }
  .nav-left {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      margin-left: 15px;
    }
  }
}


.center {
  margin-top: 120px;
  margin-bottom: 120px;
  width: 100%;
  text-align: center;
}

main {
  width: 100%;
}

.button {
  padding: 20px 20px;
  display: inline-block;
}

/* mypage */
.inline {
  float: left;
}

/* new-task-page */
.scheduled_timeBox {
  display: none
}

.error {
  color: red;
}
